[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gandhark
[access "refs/for/refs/*"]
	read = group user/gandhark
	push = group user/gandhark
	label-Code-Review = -2..+2 group user/gandhark
	label-Verified = -1..+1 group user/gandhark
	rebase = group user/gandhark
	removeReviewer = group user/gandhark
	submit = group user/gandhark
[access "refs/heads/*"]
	read = group user/gandhark
	create = group user/gandhark
	push = +force group user/gandhark
	pushMerge = group user/gandhark
[access "refs/tags/*"]
	push = +force group user/gandhark
	pushTag = group user/gandhark
	pushSignedTag = group user/gandhark
